<!-- Testimonials section-->
<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Estamos Trabajando...</h2>
        <p class="lead mb-0">Estamos desarrolando el sitio para que puedas disfrutar de una experiencia unica</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <!-- Testimonial 1-->
          <div class="card mb-4">
            <div class="card-body p-4">
              <div class="d-flex">
                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                <div class="ms-4">
                  <p class="mb-1">
                    Algunas secciones se encuentran en desarrollo, sepa disculparnos estamos trabajando para usted!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>